<div class="community-wrapper">
    <div class="community-overlay">

        <div class="buttons-container">
     <a href="/users/dashboard" class="logout-btn">Home</a></p>
         <a href="/users/signout" class="logout-btn">Logout</a></p>

        </div>
        <div class="community">
            <div class="user-post-container">
                <div class="user-image">
                    <img
                        src="/assets/profile.jpg"
                        alt="Profile picture of user"
                    />
                </div>
                <div class="user-comment">
                    <p> <span class="bold">@username</span> added 2 hours:</p>
                    <p class="comment">Description</p>
                </div>
            </div>

            <div class="user-post-container">
                <div class="user-image">
                    <img
                        src="/assets/profile.jpg"
                        alt="Profile picture of user"
                    />
                </div>
                <div class="user-comment">
                    <p> <span class="bold">@username</span> added 2 hours:</p>
                    <p class="comment">Description</p>
                </div>
            </div>

            <div class="user-post-container">
                <div class="user-image">
                    <img
                        src="/assets/profile.jpg"
                        alt="Profile picture of user"
                    />
                </div>
                <div class="user-comment">
                    <p> <span class="bold">@username</span> added 2 hours:</p>
                    <p class="comment">Description</p>
                </div>
            </div>

            <div class="user-post-container">
                <div class="user-image">
                    <img
                        src="/assets/profile.jpg"
                        alt="Profile picture of user"
                    />
                </div>
                <div class="user-comment">
                    <p> <span class="bold">@username</span> added 2 hours:</p>
                    <p class="comment">Description</p>
                </div>
            </div>

            <div class="user-post-container">
                <div class="user-image">
                    <img
                        src="/assets/profile.jpg"
                        alt="Profile picture of user"
                    />
                </div>
                <div class="user-comment">
                    <p> <span class="bold">@username</span> added 2 hours:</p>
                    <p class="comment">Description</p>
                </div>
            </div>

        </div>
    </div>
</div>