<div class="content">
    <form action="/users" method="post" class="signin-form">
        <h1>HoursTracker</h1>
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username" />
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" />
        <p class="error-message">{{errorUser}}</p>
        <input type="submit" class="login-btn" value="Sign in" />
        <p>Don't have an account? <a href="/users/signup">Sign up here</a></p>
        <p>Or</p>
        <span class="login-btn"><a href="/google">Sign in with Google</a></p>
    </form>
</div>