@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  height: 100%;
  background-color: #0F1424;
}

main {
  background-color: #0F1424;
}

a {
  color: #fff;
  font-size: 0.9rem;
}

.wrapper {
  background-color: #0F1424;
}

.content {
  background-image: url("/assets/hero-mobile.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 15px;
  padding: 20px 30px 20px;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .content {
    width: 60%;
    height: auto;
    padding: 350px 30px 20px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .content {
    width: 30%;
    height: 600px;
    padding: 270px 30px 20px;
    margin-top: 30px;
  }
}
.content h1 {
  font-size: 1.4rem;
}
@media screen and (min-width: 1100px) {
  .content h1 {
    font-size: 1.6rem;
  }
}
.content form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
}
@media screen and (min-width: 1100px) {
  .content form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }
}
.content form input {
  margin: 5px 0px;
  padding: 4px;
  border-radius: 6px;
  border: none;
}
@media screen and (min-width: 1100px) {
  .content form input {
    margin: 5px 0px;
    padding: 4px;
    border-radius: 6px;
    border: none;
  }
}
.content form label {
  font-weight: 300;
  font-size: 0.85rem;
}
@media screen and (min-width: 1100px) {
  .content form label {
    margin: 10px 0px 0px;
  }
}
.content form .login-btn {
  margin: 20px 0px 0px;
  padding: 8px;
  background-color: #5847EB;
  border: none;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
}
.content form .login-btn:hover {
  cursor: pointer;
}
.content form p {
  padding: 10px 0px;
  text-align: center;
  font-size: 0.9rem;
}
@media screen and (min-width: 1100px) {
  .content form p {
    padding: 10px 0px;
    text-align: center;
    font-size: 0.9rem;
  }
}

.dashboard-wrapper {
  background-image: url("/assets/hero-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
}
@media screen and (min-width: 1100px) {
  .dashboard-wrapper {
    background-image: url("/assets/hero-desktop.svg");
    height: 100vh;
    color: #fff;
  }
}
.dashboard-wrapper .dashboard-overlay {
  width: 95%;
  margin: 0 auto;
  border-radius: 15px;
  background-color: rgba(0, 0, 7, 0.5);
}
@media screen and (min-width: 1100px) {
  .dashboard-wrapper .dashboard-overlay {
    width: 40%;
    height: 500px;
    padding: 20px;
    margin-top: 20px;
  }
}
.dashboard-wrapper .dashboard {
  background-color: #0F1424;
  border-radius: 10px;
}
.dashboard-wrapper .dashboard-header {
  background-color: #5847EB;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.dashboard-wrapper .image-container img {
  width: 100%;
  max-height: 100px;
  border-radius: 50%;
}
.dashboard-wrapper .user-info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.dashboard-wrapper .user-info {
  padding: 10px 5px;
}
.dashboard-wrapper .hello {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 100;
}
@media screen and (min-width: 768px) {
  .dashboard-wrapper .hello {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1100px) {
  .dashboard-wrapper .hello {
    font-size: 1.1rem;
  }
}
.dashboard-wrapper .username {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .dashboard-wrapper .username {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1100px) {
  .dashboard-wrapper .username {
    font-size: 1.3rem;
  }
}
.dashboard-wrapper .icons {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.dashboard-wrapper .icon-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.dashboard-wrapper .icon-plus:hover {
  cursor: pointer;
}
.dashboard-wrapper .icon-plus svg {
  width: 40px;
}
@media screen and (min-width: 768px) {
  .dashboard-wrapper .icon-plus svg {
    width: 50px;
  }
}
@media screen and (min-width: 1100px) {
  .dashboard-wrapper .icon-plus svg {
    width: 50px;
  }
}
.dashboard-wrapper .icon-setting {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.dashboard-wrapper .icon-setting:hover {
  cursor: pointer;
}
.dashboard-wrapper .icon-setting svg {
  width: 20px;
}
@media screen and (min-width: 768px) {
  .dashboard-wrapper .icon-setting svg {
    width: 25px;
  }
}
@media screen and (min-width: 1100px) {
  .dashboard-wrapper .icon-setting svg {
    width: 25px;
  }
}

.create-wrapper {
  background-image: url("/assets/hero-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
}
@media screen and (min-width: 1100px) {
  .create-wrapper {
    background-image: url("/assets/hero-desktop.svg");
    height: 100vh;
    color: #fff;
  }
}

.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-form {
  display: flex;
  flex-direction: column;
}
.create-form input {
  margin: 5px 0px;
  padding: 4px;
  border-radius: 6px;
  border: none;
}
.create-form label {
  font-weight: 300;
  font-size: 0.85rem;
}
.create-form .add-btn {
  margin: 20px 0px 0px;
  padding: 8px;
  background-color: #BDC1FF;
  border: none;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
}
.create-form .add-btn:hover {
  cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav {
  align-items: flex-start;
  color: #fff;
  padding: 20px 0px;
}
@media screen and (min-width: 1100px) {
  .navbar-nav {
    align-items: center;
    padding: 0px;
  }
}

.navbar-brand {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff !important;
}
@media screen and (min-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem;
    padding: 0;
  }
}
@media screen and (min-width: 1100px) {
  .navbar-brand {
    font-size: 2rem;
    padding: 0;
  }
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  font-weight: 500;
  padding: 8px 17px;
}
.nav-item:hover {
  text-decoration: none;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-links {
  flex-direction: column;
  display: none;
  width: 100%;
}

.navbar-light .navbar-toggler {
  color: #fff;
  border: none;
}

.navbar-toggler-icon {
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .navbar-toggler-icon {
    width: 2em;
    height: 2.5em;
  }
}

.navbar-dark .navbar-nav .nav-link {
  border-bottom: 2px solid #0F1424;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

.nav-link {
  padding: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px;
  font-size: 1.1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
