@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  height: 100%;
  background-color: #0F1424;
}

main {
  background-color: #0F1424;
}

a {
  color: #fff;
  font-size: 0.9rem;
}
a:hover {
  color: #fff;
}

.wrapper {
  background-color: #0F1424;
}

.content {
  background-image: url("/assets/hero-mobile.svg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 15px;
  padding: 20px 30px 20px;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .content {
    width: 60%;
    height: auto;
    padding: 350px 30px 20px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .content {
    width: 30%;
    height: 600px;
    padding: 270px 30px 20px;
    margin-top: 30px;
  }
}
.content h1 {
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1100px) {
  .content h1 {
    font-size: 1.6rem;
  }
}
.content .error-message {
  text-align: left;
  margin: 0;
  padding: 0;
  color: red;
  font-weight: 300;
  font-size: 0.9rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
}
@media screen and (min-width: 1100px) {
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
  }
}
form input {
  margin: 5px 0px;
  padding: 4px;
  border-radius: 4px;
  border: none;
}
@media screen and (min-width: 1100px) {
  form input {
    margin: 5px 0px;
    padding: 4px;
    border-radius: 4px;
    border: none;
  }
}
form label {
  font-weight: 300;
  font-size: 0.85rem;
}
@media screen and (min-width: 1100px) {
  form label {
    margin: 5px 0px 0px;
  }
}
form .login-btn {
  margin: 5px 0px 0px;
  padding: 8px;
  background-color: #5847EB;
  border: none;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
}
form .login-btn a {
  text-decoration: none;
  font-size: 1rem;
}
form .login-btn:hover {
  cursor: pointer;
}

p {
  font-size: 0.9rem;
  text-align: center;
  padding: 5px;
  margin: 0;
}

.home-container {
  padding: 0px;
  border-radius: 20px;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .home-container {
    background-image: url("/assets/hero-desktop.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
  }
}
@media screen and (min-width: 1100px) {
  .home-container {
    background-image: url("/assets/hero-desktop.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
  }
}

.home-container-overlay {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  border-radius: 15px;
  background-color: rgba(0, 0, 7, 0.6);
}
@media screen and (min-width: 768px) {
  .home-container-overlay {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    padding: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .home-container-overlay {
    width: 100%;
    height: 100vh;
    padding: 20px;
  }
}

.logout-btn {
  padding: 10px;
  background-color: #5847EB;
  border: none;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
}
.logout-btn:hover {
  cursor: pointer;
}

.community-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .community-wrapper {
    width: 70%;
    padding: 20px 50px 50px 100px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media screen and (min-width: 1100px) {
  .community-wrapper {
    width: 70%;
    padding: 20px 0px 50px 70px;
    position: absolute;
    right: 0;
    top: 0;
  }
}
.community-wrapper .community {
  display: flex;
  flex-direction: column;
  gap: 55px;
}
@media screen and (min-width: 768px) {
  .community-wrapper .community {
    gap: 30px;
  }
}
.community-wrapper .buttons-container {
  display: none;
}
@media screen and (min-width: 1100px) {
  .community-wrapper .buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    padding: 10px 10px 50px;
  }
}
.community-wrapper .logout {
  text-align: right;
  padding: 0px 30px;
}
.community-wrapper a {
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}
.community-wrapper a:hover {
  color: #fff;
  text-decoration: underline;
}
.community-wrapper .user-post-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 1100px) {
  .community-wrapper .user-post-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
}
.community-wrapper .user-post-container .user-comment {
  width: 100%;
  background-color: rgba(177, 177, 177, 0.1);
  color: #fff;
  padding: 15px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1100px) {
  .community-wrapper .user-post-container .user-comment {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.community-wrapper .user-post-container .user-image {
  max-width: 100px;
}
.community-wrapper .user-post-container p {
  margin: 0;
}
.community-wrapper .user-post-container .bold {
  font-weight: 600;
}

.dashboard-wrapper {
  width: 100%;
  background-color: #1c1f4a;
  height: auto;
  color: #fff;
  border-radius: 20px;
  overflow-y: scroll;
  padding-top: 10px;
}
@media screen and (min-width: 768px) {
  .dashboard-wrapper {
    overflow-y: scroll;
    position: fixed;
    height: 55vh;
    width: 35%;
    padding: 0;
  }
}
@media screen and (min-width: 1100px) {
  .dashboard-wrapper {
    overflow-y: scroll;
    position: fixed;
    height: 95vh;
    width: 25%;
    padding: 0;
  }
}
.dashboard-wrapper .dashboard {
  border-radius: 10px;
}
.dashboard-wrapper .dashboard-header {
  background-color: #5847EB;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.dashboard-wrapper .user-info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.dashboard-wrapper .user-info {
  padding: 10px 5px;
}
.dashboard-wrapper .hello {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 100;
}
@media screen and (min-width: 768px) {
  .dashboard-wrapper .hello {
    font-size: 0.9rem;
  }
}
.dashboard-wrapper .username {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .dashboard-wrapper .username {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 1100px) {
  .dashboard-wrapper .username {
    font-size: 1rem;
  }
}
.dashboard-wrapper .icons {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.dashboard-wrapper .icon-plus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.dashboard-wrapper .icon-plus:hover {
  cursor: pointer;
}
.dashboard-wrapper .icon-plus svg {
  width: 40px;
}
@media screen and (min-width: 768px) {
  .dashboard-wrapper .icon-plus svg {
    width: 50px;
  }
}
@media screen and (min-width: 1100px) {
  .dashboard-wrapper .icon-plus svg {
    width: 50px;
  }
}
.dashboard-wrapper .icon-setting {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.dashboard-wrapper .icon-setting:hover {
  cursor: pointer;
}
.dashboard-wrapper .icon-setting svg {
  width: 20px;
}
@media screen and (min-width: 768px) {
  .dashboard-wrapper .icon-setting svg {
    width: 25px;
  }
}
@media screen and (min-width: 1100px) {
  .dashboard-wrapper .icon-setting svg {
    width: 30px;
    height: 30px;
  }
}
.dashboard-wrapper .hours-average-header {
  background-color: #1c1f4a;
  border-radius: 8px;
  padding: 8px 0px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 5px 0px;
}
.dashboard-wrapper .hours-average-header a {
  color: #BDC1FF;
  text-decoration: none;
}
.dashboard-wrapper .dashboard-category-container {
  background-color: #1c1f4a;
  border-radius: 8px;
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.dashboard-wrapper .dashboard-category-container:hover {
  background-color: rgba(0, 0, 7, 0.5);
  cursor: pointer;
}
.dashboard-wrapper .dashboard-category-container .category-hours {
  font-weight: 100;
}
.dashboard-wrapper svg:hover {
  cursor: pointer;
  color: #fff;
}

.image-container img {
  width: 100%;
  max-height: 100px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .image-container img {
    max-height: 70px;
  }
}
@media screen and (min-width: 1100px) {
  .image-container img {
    max-height: 90px;
  }
}

.user-image img {
  width: 100%;
  border-radius: 50%;
  max-height: 100px;
}
@media screen and (min-width: 768px) {
  .user-image img {
    max-height: 70px;
  }
}
@media screen and (min-width: 1100px) {
  .user-image img {
    max-height: 90px;
  }
}

.form {
  padding: 10px;
}

.not-found-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 0px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  gap: 30px;
}
.not-found-container .not-found {
  font-size: 3rem;
  font-weight: 400;
}
.not-found-container .back-btn {
  padding: 12px 30px;
  background-color: #5847EB;
  border: none;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.4rem;
  text-decoration: none;
}
.not-found-container .back-btn:hover {
  cursor: pointer;
}

.tasks-category-container {
  border-radius: 8px;
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.tasks-category-container .tasks-info-container {
  width: 100%;
  background-color: #1c1f4a;
  border-radius: 8px;
  padding: 10px 15px;
}
.tasks-category-container .category-hours-average {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.tasks-category-container .task-hours {
  color: #BDC1FF;
  font-size: 0.9rem;
  margin: 0;
}
.tasks-category-container .task-hours .hours {
  font-weight: 100;
  font-size: 0.9rem;
}
.tasks-category-container svg:hover {
  cursor: pointer;
  color: #fff;
}
.tasks-category-container .tasks {
  border-radius: 8px;
  background-color: #1c1f4a;
  width: 100%;
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tasks-category-container .tasks .task {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
  background-color: #1c1f4a;
  padding: 10px 15px;
}
.tasks-category-container .tasks .task:hover {
  background-color: rgba(0, 0, 7, 0.5);
  cursor: pointer;
}
.tasks-category-container .tasks .task .task-description,
.tasks-category-container .tasks .task .task-comment,
.tasks-category-container .tasks .task .task-date {
  font-size: 0.9rem;
  margin: 5px 0px;
}
.tasks-category-container .tasks .task .task-comment,
.tasks-category-container .tasks .task .task-date {
  font-weight: 100;
}

.task-single-container {
  border-radius: 8px;
  background-color: #1c1f4a;
  width: 100%;
  margin: 5px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.task-single-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5px 0px;
  background-color: #1c1f4a;
}
.task-single-info:hover {
  cursor: pointer;
}
.task-single-info .task-description,
.task-single-info .task-comment,
.task-single-info .task-date {
  font-size: 0.9rem;
  margin: 5px 0px;
}
.task-single-info .task-comment,
.task-single-info .task-date {
  font-weight: 100;
}

.task-hours {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 0px;
}

.btn {
  margin: 20px 0px 0px;
  padding: 8px;
  background-color: #5847EB;
  border: none;
  color: #fff;
  border-radius: 6px;
  font-weight: 500;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
  color: #fff;
}

.sm-heading {
  text-align: left;
  margin: 0;
  padding-top: 15px;
  font-size: 1rem;
  font-weight: 400;
}

.delete-form {
  padding: 10px;
}
.delete-form input {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav {
  align-items: flex-start;
  color: #fff;
  padding: 20px 0px;
}
@media screen and (min-width: 1100px) {
  .navbar-nav {
    align-items: center;
    padding: 0px;
  }
}

.navbar-brand {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff !important;
}
@media screen and (min-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem;
    padding: 0;
  }
}
@media screen and (min-width: 1100px) {
  .navbar-brand {
    font-size: 2rem;
    padding: 0;
  }
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  font-weight: 500;
  padding: 8px 17px;
}
.nav-item:hover {
  text-decoration: none;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-links {
  flex-direction: column;
  display: none;
  width: 100%;
}

.navbar-light .navbar-toggler {
  color: #fff;
  border: none;
}

.navbar-toggler-icon {
  padding: 10px;
}
@media screen and (min-width: 768px) {
  .navbar-toggler-icon {
    width: 2em;
    height: 2.5em;
  }
}

.navbar-dark .navbar-nav .nav-link {
  border-bottom: 2px solid #0F1424;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
  text-decoration: none;
}

.nav-link {
  padding: 0px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px;
  font-size: 1.1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 12pt;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=style.css.map */
