@use "../mixins";
@use "../variables";

.create-wrapper {
  background-image: url("/assets/hero-desktop.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
}
