@use "../mixins";
@use "../variables";

.create-wrapper {
  background-color: variables.$color-verydkblue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;

  @include mixins.desktop-only {
    background-image: url("/assets/hero-desktop.svg");
    height: 100vh;
    color: #fff;
  }
}

.create-overlay {
  width: 95%;
  margin: 0 auto;
  border-radius: 15px;
  background-color: variables.$color-dkblue;

  height: 450px;

  @include mixins.desktop-only {
    background-color: rgba(0, 0, 7, 0.5);
    width: 40%;
    height: 500px;
    padding: 20px;
    margin-top: 20px;
  }
}

.create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0px;

  @include mixins.desktop-only {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 0px;
  }

  input {
    margin: 5px 0px;
    padding: 4px;
    border-radius: 6px;
    border: none;
  }

  label {
    font-weight: 300;
    font-size: 0.85rem;
  }

  .add-btn {
    margin: 20px 0px 0px;
    padding: 8px;
    background-color: variables.$color-paleblue;
    border: none;
    color: #fff;
    border-radius: 6px;
    font-weight: 500;

    &:hover {
      cursor: pointer;
    }
  }
}
