@use "../mixins";
@use "../variables";

.forum-form-container {
    width: 100%;
    margin: 0 auto;

    @include mixins.tablet-only {
        width: 90%;
    }

    @include mixins.desktop-only {
        width: 70%;

    }

    form {
        display: flex;
        flex-direction: column;
    }

    h2 {
        color: variables.$color-paleblue;
    }

    label {
        color: #fff;
    }

    input {
        border-radius: 4px;
        border: none;
        padding: 5px;
    }

    textarea {
        display: block;
        margin: 5px 0px;
        border-radius: 5px;
        border: 2px solid variables.$color-purple;
        background-color: variables.$color-verydkblue;
        color: #fff;
        height: 5rem;
        width: 100%;
        padding: 5px;

        &:focus {
            outline: none;
        }

        @include mixins.desktop-only {
            padding: 10px;
            height: 10rem;
            width: 100%;
            font-size: 1.1rem;

        }

    }
}