<div class="content">
    <h1>Sign up</h1>
    <form action="/users/signup" method="post" enctype="multipart/form-data" class="signin-form">
        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username" />
        <p class="error-message">{{usernameTaken}}</p>
        <p class="error-message">{{usernameError}}</p>
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" />
        <label for="password">Confirm password</label>
        <input type="password" name="confirmPassword" placeholder="Confirm password" />
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" />
        <label for="profilePic">Profile picture</label>
        <input type="file" name="profilePic" id="profilePic" placeholder="Profile Picture" />
        <input type="submit" class="login-btn" value="Sign up" />
    </form>
</div>